h2{
  text-align: center;
}
table{
  margin: auto;
}

td{
  width: 300px;
  margin-right: 158-px;
  height: 400px;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}
