.firstDiv{
  color:blue;
}

.secondDiv{
  color: red;
}

#singledout{
  color: orange;
  text-decoration: line-through;
}

*{
  color: black;
  /* won't override id's
  targets everything on page
  very uncommon*/
}

/*select all unordered list items
next to an h3. Adjacent Siblings*/

h3 + ul{
  border: 2px solid black;
}


li a{
  color: red;
}

li a[href="www.npr.org"]{
  color: purple;
}
